<doctype html>
<title>Battle Screen</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
filename='style.css') }}" />
<div class="main-screen-container">
  <div class="main-screen-container-title">Battle</div>
  <!--
    TODO: make title dynamic based on what is going on in the container.
  -->
  <div class="monster-info">
    <!--img src="http://flask.pocoo.org/docs/_static/flask.png"
    class="monster-img"/-->
    <img src={{ enemy.img_url }} class="monster-img" />
    You encounter a {{ enemy.name }}.
  </div>
  <div class="battle-interaction">
    <div class="button-row">
      <div class="battle-button">
        Basic Attack
        <a href="battle/attack"><span class="link-spanner"></span></a>
      </div>
      <div class="battle-button">
        Skills
        <a href="battle/skills"><span class="link-spanner"></span></a>
      </div>
    </div>
    <div class="button-row">
      <div class="battle-button">
        Items
        <a href="battle/items"><span class="link-spanner"></span></a>
      </div>
      <div class="battle-button">
        Run Away
        <a href="battle/run"><span class="link-spanner"></span></a>
      </div>
    </div>
  </div>
</div>

