<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" media="screen" rel="stylesheet" type="text/css">
    <title>Historically Inaccurate RPG</title>
  </head>
  <body>
    {% include "navmenu.html" %}
    <div class="main">
      <div class="main-title">
         Frequently Asked Questions
      </div>
      <div class="main-content">
          <div class="text">
            <h1>What does LMNC stand for?</h1>
            <p>Look ma, no hands!</p>
          </div>
      </div>
    </div>
  </body>
</html>
