<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" media="screen" rel="stylesheet" type="text/css">
    <title>Historically Inaccurate RPG</title>
  </head>
  <body>
    <div class="title">
      LMNC
    </div>
    <div class="menu-bar">
      <div class="top">
        <div class="item">
          <h3>Home</h3>
          <a href="index.html"><span class="link-spanner"></span></a>
        </div>
        <div class="item">
          <h3>Posts</h3>
          <a href="https://medium.com/@jeffhou"><span class="link-spanner"></span></a>
        </div>
        <div class="item">
          <h3>FAQ</h3>
          <a href="faq.html"><span class="link-spanner"></span></a>
        </div>
        <div class="item">
          <h3>About</h3>
          <a href="about.html"><span class="link-spanner"></span></a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="main-title">
         Frequently Asked Questions
      </div>
      <div class="main-content">
          <div class="text">
            <h1>What does LMNC stand for?</h1>
            <p>Look ma, no hands!</p>
          </div>
      </div>
    </div>
  </body>
</html>
